
/* Bismillah :) */


/* Default (Light theme) */
@font-face {
    font-family: 'DM Sans';
    src: 
    url('./assets/fonts/DM_Sans/static/DMSans-Regular.ttf') format('truetype'),
    url('./assets/fonts/DM_Sans/static/DMSans-Bold.ttf');

    font-weight: bold;
    font-style: normal;
  }

   textarea{
    width: 99%;
    border-radius: 10px;
    background-color: rgba(242, 242, 247);
    border: 1px solid #2A2B37;
    margin: auto;
    height: 200px;
    padding: 10px;
   }

   textarea:focus{
    border: 2px solid rgba(194, 124, 248);
    outline: none;
    box-shadow: 1px 0px 5px rgba(194, 124, 248);

   }

   input[type="checkbox"]:hover{
    border: 2px solid rgba(194, 124, 248);
    outline: none;
   }

   

   input[type="chechbox"]{
    background-color: red;
   }

   

   input[type="checkbox"]:checked {
    accent-color: rgba(211, 160, 250); 
   }




   /* mobile  */

   @media (max-width: 768px) {
    
    

    
   }

   /* tablet */

   @media (min-width: 768px) and (max-width: 1023px) {
     
   }

   
  
  /* dark theme */
  
  



